---
layout: page
title: "About me"
description: "程霆霏——中国科学院数学与系统科学研究所研究员；中国数学学会会员；中国物理学协会会员；TingFei Cheng ————— Researcher of Institute of mathematics and systems science, Chinese Academy of Sciences; member of Chinese mathematics society; member of China Physics Association;】"
header-img: "img/8.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>早在千万年之前，我们就已经开始了漫长的别离---As early as tens of thousands of years ago, we have begun a long separation. <br>
<br>
    别后悔你做的任何一件事---Don't regret anything you did.</p></blockquote>

    <p>My name is<strong> 程霆霏 (TingFei Cheng)</strong>,Currently working in CAS.</p>

    <p>目前的研究领域以及主要研究成果(Current research fields and main research results)：<br/>
       提出了简明的稳态克尔黑洞视界表面引力计算公式[A concise formula for calculating the horizon surface gravity of Kerr black hole is proposed];<br/>
       发现并完成了对一维非线性Dirac方程性质的研究(The properties of one-dimensional nonlinear Dirac equation are found and completed);<br/>
       随机树的独立集关于稀疏随机图(Independent sets of random trees on sparse random graphs);<br/>
       关于HCIZ积分和BGW积分的复渐近性(On the complex asymptotics of hciz integral and BGW integral);<br/>
       非线性量子图基态计算的梯度流方法(Gradient flow method for ground state calculation of nonlinear quantum graphs);<br/>
       代数拓扑中微积分与光滑结构的嵌入(Embedding calculus and smooth structure in algebraic topology);<br/>
       创新了代数拓扑与组合数学（极值图论/随机图论）中多个工具的使用与拓展(The use and development of several tools in algebraic topology and Combinatorial Mathematics (extremum graph theory / random graph theory) are innovated)。<br/>

       目前主攻方向(Current main attack direction)：代数拓扑；四维光滑流形；组合数学；极值图论；随机图论；非线性偏微分方程（NS；NLS；）<br/>
    Algebraic topology; four dimensional smooth manifolds; combinatorial mathematics; extremum graph theory; stochastic graph theory; nonlinear partial differential equations (NS; NLS;)</p>

    <p>这是我的知乎主页[This is my Zhihu homepage]<a href="https://www.zhihu.com/people/hao-zhu-hz-29">👉TingFei—Cheng（Porcupine）</a>如果有什么问题，欢迎提出探讨！[If you have any questions, you can come and ask me at any time!]</p>

    <p>学术经历(Academic experience):<br/>     
2019.04 - Nowadays;<br/>
Researcher; Gaduate Sudent，Academy of Mathematics and Systems Science, CAS，Institute of Mathematics;<br/>
教育背景(Educational Background):<br/>
2018.10 - 2019.03;<br/>
Undergraduate：Beijing Normal University，Physics，Tutor：Liang;<br/>
2019.03 - Nowadays;<br/>
Graduate：Peking University，Physics; Mathematics，Tutor：Liang;<br/>           
2020.02 - Nowadays;<br/>
PhD：Princeton University，Pure mathematics，Tutor：Ralph Hartzler Fox;<br/>
奖励与荣誉(Awards and honors):<br/>
2020 Honorary Researcher Award, Institute of mathematics, Princeton University.</p><br/>
    <p>联系方式(Contact Information):<br/>
TingFei Cheng<br/>

researcher<br/>

CAS，Academy of Mathematics and Systems Science, CAS<br/>
邮箱(E-Mail Address):<br/>
tingfei.cheng@amss.ac.cn _or_ a1968998035@126.com<br/>

电话(Phone):<br/>
+86 13935157996<br/>

地址(Address):<br/>
北京中关村东路55号数学院思源楼(Siyuan building, Institute of mathematics, 55 Zhongguancun East Road, Beijing)<br/></p>
    
    <h5>Talks</h5>

    <ul>
        <li><a href="https://www.zhihu.com/people/hao-zhu-hz-29">Porcupine(TingFei Cheng)</a></li>
    </ul>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>As early as tens of thousands of years ago, we have begun a long separation.  <br>
   Don't regret anything you did.</p></blockquote>

    <p>My name is<strong> TingFei Cheng</strong>,Currently working in CAS.</p>

   <p>Current research fields and main research results：<br/>
      A concise formula for calculating the horizon surface gravity of Kerr black hole is proposed;<br/>
       The properties of one-dimensional nonlinear Dirac equation are found and completed;<br/>
     Independent sets of random trees on sparse random graphs;<br/>
       On the complex asymptotics of hciz integral and BGW integral;<br/>
     Gradient flow method for ground state calculation of nonlinear quantum graphs;<br/>
      Embedding calculus and smooth structure in algebraic topology;<br/>
      The use and development of several tools in algebraic topology and Combinatorial Mathematics (extremum graph theory / random graph theory) are innovated.<br/>

      Current main attack direction：<br/>
    Algebraic topology; four dimensional smooth manifolds; combinatorial mathematics; extremum graph theory; stochastic graph theory; nonlinear partial differential equations (NS; NLS;)</p>
    
    <p>This is my Zhihu homepage <a href="https://www.zhihu.com/people/hao-zhu-hz-29">👉TingFei—Cheng（Porcupine）</a>If you have any questions, you can come and ask me at any time!</p>

    <p>Academic experience:<br/>     
2019.04 - Nowadays;<br/>
Researcher; Gaduate Sudent，Academy of Mathematics and Systems Science, CAS，Institute of Mathematics;<br/>
Educational Background:<br/>
2018.10 - 2019.03;<br/>
Undergraduate：Beijing Normal University，Physics，Tutor：Liang;<br/>
2019.03 - Nowadays;<br/>
Graduate：Peking University，Physics; Mathematics，Tutor：Liang;<br/>           
2020.02 - Nowadays;<br/>
PhD：Princeton University，Pure mathematics，Tutor：Ralph Hartzler Fox;<br/>
Awards and honors:<br/>
2020 Honorary Researcher Award, Institute of mathematics, Princeton University.</p><br/>
    <p>Contact Information:<br/>
TingFei Cheng<br/>

researcher<br/>

CAS，Academy of Mathematics and Systems Science, CAS<br/>
E-Mail Address:<br/>
tingfei.cheng@amss.ac.cn _or_ a1968998035@126.com<br/>

Phone:<br/>
+86 13935157996<br/>

Address:<br/>
Siyuan building, Institute of mathematics, 55 Zhongguancun East Road, Beijing.<br/></p>

    <h5>Talks</h5>

    <ul>
        <li><a href="https://www.zhihu.com/people/hao-zhu-hz-29">Porcupine(TingFei Cheng)</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
